html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 3rem;
    width: 100%;
    background-color: rgb(68, 68, 68);
    display: flex;
    align-items: center;
    padding: 0 2em;
    position: fixed;
    -webkit-box-shadow: 0 5px 5px rgba(57, 63, 72, 0.4);
    -moz-box-shadow: 0 5px 5px rgba(57, 63, 72, 0.4);
    box-shadow: 0 5px 5px rgba(57, 63, 72, 0.4);
}

a {
    text-decoration: none;
    color: white;
    padding-right: 2em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6rem;
}

table {
    width: 85%;
    height: 20%;
    border: solid rgb(68, 68, 68, 0.75);
    border-radius: 6px;
    padding: 1rem 0;    
}

tr {
    text-align: center;
}
tr input[type="submit"] {
    margin-top: 0;
}

input[type="submit"] {
    margin-top: 3rem;
    width: 8em;
    padding: 0.5em 0;
    background-color: rgb(68, 68, 68);
    color: white;
    border-radius: 6px;
    border: none;
}
